* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto; /* Centers the table */
    background-color: #fff;
}

table, th, td {
    border: 1px solid #080808;

}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

